
:root{
    --color-primario:#F5F5F5;
    --color-secundario: #000;
    --color-terciario:#d5d2d2 ;
    --color-cuarto: ;
    --color-quinto: ;
    
}

*{
    box-sizing:border-box;/*Calcula los borde margin y pading de de la caja*/
    min-width:0px;/*areglar desvordamiento de grid y flex*/
    
}
::selection{
    color:var(--color-primario) ;
    background-color: var(--color-secundario);
}

body{
    margin: 0; 
    display: grid;
    place-items: center;  
    background-color: var(--color-primario);
  
    min-height: 100vh;/* maximo tamaño de pantalla arregla el calculo de cuando sale el teclado */        
}
        
 h1,h2 ,h3{
    padding: 0;
    margin: 0;
    text-wrap: balance;/* ajusta los titulos*/
}

p{
    padding: 0;
    margin: 0;
    text-wrap:pretty;/*ajusta los textos*/
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    overflow: hidden;
}
.letras{
    position: absolute;
    top: 0;
    height: 200px;
    z-index: -1;
    font-family: "Anton", sans-serif;
    font-size: 80px;
    text-wrap: nowrap;
    animation: boot 20s  infinite;

}
.letrasDOS{
    position: absolute;
    top: 100px;
    height: 200px;
    z-index: -1;
    font-family: "Anton", sans-serif;
    font-size: 80px;
    text-wrap: nowrap;
    -webkit-text-stroke: #2C2930 1px;
    animation: top 20s  infinite;
}

@keyframes top {
    0%{
    }
    100%{
        transform: translateX(1000px);
    }
}

@keyframes boot {
    0%{
        transform: translateX(1000px);
    }
    100%{
    }
}


/* Main */

main{
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    background-color:var(--color-secundario);

}

section{
    width: 100%;
    display: grid;
    place-items: center;

}
.section01{
    height: 150px;
    background-color: var(--color-primario);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fotoPerfil{
    position: absolute;
    top: -70px;
    height: 100px;
    width: 100px;
    border: solid 5px var(--color-secundario);
    background-image: url(/assets/img/perfil.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 10;
}


.descriotion{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.descriotion>h1{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
}
.descriotion>p{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding: 10px;
}
.descriotion{

}
.conteinerRedes{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteinerRedes>a>div{
    width: 44px;
}
.conteinerRedes>a>div>img{
    width: 40px;
    border-radius: 50%;
    transition: all .3s step-start;
}
.conteinerRedes>a>div>img:hover{
    background-color: var(--color-terciario);
    scale: 1.1;

}

.link{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    height: 500px;
}


.link>a{
    text-align: center;
    width: 200px;
    margin-bottom: .5rem;
    padding: 1rem;
    background-color:;
    border: solid ;
    border-radius: 5rem;
    text-decoration: none;
    color: aliceblue;
}
.link>a:hover{
    background-color: red;
}

/*QR*/
.conteinerCard{
    background-color:var(--color-terciario) ;
    margin: 10px 0 ;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    height: 200px;
    min-width: 400px;
    padding: 1rem;
    background-color: var(--color-primario);
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.cardUno{
    text-align: center;
}
.cardUno>strong{
    font-size: 40px;
}
.cardUno>a{
    color: #000;
}
.card>img{
    height: 8rem;
}


/* Footer */

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--color-primario) ;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding: 10px;
}

.info{
    margin: 20px;
    text-align: center;
}
.info>a{
    text-decoration: none;
    color: #000;
}