
:root{
    --color-primario:#455633;
    --color-secundario:#8D9C63 ;
    --color-terciario:#C2D2B0 ;
    --color-cuarto:#101916 ;
    --color-quinto: #E9EEEA;
    
}

*{
    box-sizing:border-box;/*Calcula los borde margin y pading de de la caja*/
    min-width:0px;/*areglar desvordamiento de grid y flex*/
    
}
::selection{
    color:var(--color-primario) ;
    background-color: var(--color-secundario);
}

body{
    margin: 0; 
    display: grid;
    place-items: center;  
    background-color: var(--color-primario);
  
    min-height: 100vh;/* maximo tamaño de pantalla arregla el calculo de cuando sale el teclado */        
}
        
 h1,h2 ,h3{
    padding: 0;
    margin: 0;
    text-wrap: balance;/* ajusta los titulos*/
}

p{
    padding: 0;
    margin: 0;
    text-wrap:pretty;/*ajusta los textos*/
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 300px;
    width: 100%;
    font-size: 50px;
    color: var(--color-terciario);
    overflow: hidden;
}
.letras{
    position: absolute;
    top: 0;
    height: 200px;
    font-family: "Anton", sans-serif;
    text-wrap: nowrap;
    white-space: nowrap;
    animation: boot 20s  infinite;

}
.letrasDOS{
    position: absolute;
    top: 70px;
    height: 200px;
    font-family: "Anton", sans-serif;
/*     text-wrap: nowrap;
 */    white-space: nowrap;
    animation: top 20s  infinite;
}
.letrasTres{
    position: absolute;
    top: 130px;
    height: 200px;
    font-family: "Anton", sans-serif;
/*     text-wrap: nowrap;
 */    white-space: nowrap;

    animation: boot 20s  infinite;

}

@keyframes top {
    0%{
    }
    100%{
        transform: translateX(100px);
    }
}

@keyframes boot {
    0%{
    }
    100%{
        transform: translateX(-100px);

    }
}
.containerHeader{
    position: relative;
    background-color: var(--color-primario);
    height: 150px;
    width: 100%;
    clip-path: ellipse(80% 100% at 50% 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.descriotion{
    text-align: center;
}
.descriotion>h1{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-size: 24px;
    font-weight: 800;
}
.descriotion>p{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 600;
}
.conteinerRedes{
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteinerRedes>a>div{
    width: 44px;
}
.conteinerRedes>a>div>img{
    width: 40px;
    border-radius: 50%;
    transition: all .3s step-start;
}
.conteinerRedes>a>div>img:hover{
    background-color: var(--color-terciario);
    scale: 1.1;

}


.fotoPerfil{
    position: absolute;
    top: 100px;
    height: 100px;
    width: 100px;
    padding: 4px;
    border: solid 5px var(--color-secundario);
    background-image: url(/assets/img/perfil.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 10;
}

/* Main */

main{
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    background-color:var(--color-);

}

section{
    width: 100%;
    display: grid;
    place-items: center;
}

.link{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
}


.link>a{
    text-align: center;
    width: 300px;
    margin-bottom: .5rem;
    padding: 1.5rem;
    font-family: "Anton", sans-serif;
    font-size: 35px;
    text-decoration: none;
    border-radius: .2rem;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    transition: all .3s ease;
}
.link>a:hover{
    background-color:#a8b87c;
}

/*QR*/
.conteinerCard{
    background-color:var(--color-terciario) ;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 0px 0px var(--color-secundario),  0px -10px 0px 0px var(--color-secundario);
}
.card{
    height: 200px;
    min-width: 400px;
    padding: 1rem;
    background-color: var(--color-primario);
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.cardUno{
    text-align: center;
}
.cardUno>strong{
    font-size: 40px;
}
.cardUno>a{
    color: #000;
}
.card>img{
    aspect-ratio: 1;
    height: 8rem;
}


/* Footer */

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--color-primario) ;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding: 20px 0px 10px 20px;
}

.info{
    text-align: center;
}
.info>a{
    text-decoration: none;
    color: #000;
}