
:root{
    --color-primario:#F5E6C5;
    --color-secundario: #9F886F;
    --color-terciario:#D78B30;
    --color-cuarto: #3F422E;
    --color-quinto: ;
    
} 

*{
    box-sizing:border-box;/*Calcula los borde margin y pading de de la caja*/
    min-width:0px;/*areglar desvordamiento de grid y flex*/
    font-family: Times;

}
::selection{
    color:var(--color-primario) ;
    background-color: var(--color-terciario);
}

body{
    margin: 0; 
    display: grid;
    place-items: center;  
    background-color: var(--color-secundario);
    min-height: 100vh;/* maximo tamaño de pantalla arregla el calculo de cuando sale el teclado */        
}
        
 h1,h2 ,h3{
    padding: 0;
    margin: 0;
    text-wrap: balance;/* ajusta los titulos*/
}

p{
    padding: 0;
    margin: 0;
    text-wrap:pretty;/*ajusta los textos*/
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 400px;
    width: 100%;
    font-size: 50px;
    color: var(--color-primario);
    overflow: hidden;
}
.conteinerLetras{
    position: absolute;
    top: 0;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    filter: blur(4px);

}
.conteinerLetras>span{
    font-weight: 500;
    opacity: .5;
    padding: .4rem;
}
.letras{
    
    height: 100%;
    font-family: "Anton", sans-serif;
    white-space: nowrap;
    animation: boot 50s ease-in alternate infinite;

}
.letrasDOS{
    height: 100%;
    font-family: "Anton", sans-serif;
    white-space: nowrap;
    animation: top 50s ease-in alternate infinite;
}
.letrasTres{
    height: 100%;
    font-family: "Anton", sans-serif;
    white-space: nowrap;
    animation: boot 50s ease-in alternate  infinite;
}

.conteinerLetras>span>strong{
    color: var(--color-secundario);
    background-color: var(--color-primario);
    padding-inline: 1rem;
    border-radius: .2rem;
}

@keyframes top {
    0%{
    }
    100%{
        transform: translateX(1500px);
    }
}

@keyframes boot {
    0%{
    }
    100%{
        transform: translateX(-1500px);

    }
}
.containerHeader{
    position: relative;
    background-color: var(--color-primario);
    height: 200px;
    width: 100%;
    clip-path: ellipse(80% 100% at 50% 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerDescrition{
    position: absolute;
    top: 50px;
}
.descriotion{
    text-align: center;
    font-family: sans-serif;
    opacity: .9;
    color: var(--color-cuarto);
    
}
.descriotion>h1{
    font-size: 24px;
    font-weight: bold;
}
.descriotion>p{
    text-align: center;
    font-size: 14px;
    font-weight:bold;
    font-style: italic;
    margin-top: 10px;
}

.conteinerRedes{
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}
.conteinerRedes>a>div{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.conteinerRedes>a>div>img{
    width: 40px;
    opacity: .9;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);


}
.conteinerRedes>a>div:hover{
    background-color: var(--color-terciario);

}
.conteinerRedes>a>div>img:hover{
    width: 44px;
}
#GitHub{
    animation:rotate-horizontal-center 0.5s 5s ;
}


@keyframes rotate-horizontal-center{
    0%{
        transform:rotateX(0)
    }
    100%{
        transform:rotateX(-360deg)
    }
}
  
  

.fotoPerfil{
    position: absolute;
    top: 140px;
    height: 100px;
    width: 100px;
    padding: 4px;
    border: solid 5px var(--color-cuarto);
    background-color: var(--color-cuarto);
    background-image: url(/assets/img/perfil.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 10;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.fotoPerfil:hover{
    cursor: pointer;
    box-shadow: inset  1px 1px 1px 100px #0000007f;
    
}

/* Main */

main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color:var(--color-primario);
    overflow: hidden;
}

section{
    width: 100%;
    display: grid;
    place-items: center;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 600px;
    height: 100%;
    padding: .5rem 1rem 2rem 1rem;
    
}

.linkTex{
    border: solid var(--color-secundario);
    padding: 1rem;
    min-width: 200px;
    border-radius: .5rem;
    background-color:;
    color: var(--color-cuarto);
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.link>a{
    font-weight: bold;
    text-decoration: none;
}
.link>a>div:hover{
    background-color: #2e2e2e12;
}
.link>a>div>h1{
}
.link>a>div>p{

}
.linkImg{
    height: 100px;
    display: flex;
    border: solid var(--color-secundario);
    padding: 1rem;
    min-width: 200px;
    border-radius: .5rem;
    background-color: #E2D3F9;
    color: var(--color-cuarto);
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.linkImg>img{
    height: 100%;
}


/*QR*/
.conteinerCard{
    background-color:var(--color-terciario) ;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card{
    height: 200px;
    min-width: 400px;
    margin-inline: 20px;
    background-color: var(--color-primario);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.card>div{
    width: 100%;
}

.cardUno{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    padding: 20px;
    
}
.cardUno>strong{
    font-size: 40px;

}
.cardUno>a{
    font-size: medium;
    font-family:monospace;
    font-weight: bold;
    color: #000;

}
.cardDos{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
#qr{
    height: 8rem;
    width: 100%;
}


/* Footer */

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:var(--color-primario);
    
    font-weight: 600;
    padding: 20px 0px 10px 0px;
}

.info{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.info>span{
    opacity: .9;
}
.info>a{
    text-decoration: none;
    color: #000;
}
